{% extends 'products/base.html' %}

{% block title %}Login{% endblock %}
{% load static %}
{% block css %}
<!-- Add specific CSS for the register page -->
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="form-box">
        <h2>Login</h2>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="input-box">
                <input type="email" name="email" id="email" required>
                <label for="email">Email</label>
                <i>📧</i>
            </div>
            <div class="input-box">
                <input type="password" name="password" id="password" required>
                <label for="password">Password</label>
                <i>🔒</i>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="logreg-link">
                <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
                <p><a href="{% url 'reset_password' %}">Forgot Password?</a></p>
            </div>
        </form>
        {% if messages %}
        {% for message in messages %}
        <div class="message {% if message.tags == 'success' %}success-message{% elif message.tags == 'error' %}error-message{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="welcome-box">
        <h2>Welcome Back!</h2>
        <p>We're excited to have you return. Please log in to continue.</p>
    </div>
</div>
{% endblock %}
