{% extends 'products/base_generic.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/add_team_member.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Add Team Member</h2>
    <form method="post" enctype="multipart/form-data" class="team-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name" class="form-label">Name</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="id_role" class="form-label">Position</label>
            {{ form.position }}
        </div>
        <!-- Image Preview Section -->
        <div id="image-preview-container" class="image-preview-container mb-3" style="display:none;">
            <img id="image-preview" src="#" alt="Image Preview" class="image-preview">
        </div>


        <!-- File Input Field for Image Upload -->
        <div class="form-group">
            <label for="id_image" class="form-label">Choose Image</label>
            {{ form.image }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'dashboard' %}" class="btn btn-green">Back to Dashboard</a>
    </form>
</div>

<!-- JavaScript for Photo Preview -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const fileInput = document.getElementById('id_image');
        const imagePreviewContainer = document.getElementById('image-preview-container');
        const imagePreview = document.getElementById('image-preview');

        fileInput.addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreviewContainer.style.display = 'block';
                    setTimeout(() => imagePreview.style.opacity = 1, 100);
                }
                reader.readAsDataURL(file);
            }
        });
    });
</script>
{% endblock %}