
{% extends 'products/base.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/contact_us.css' %}">

{% endblock %}

{% block content %}

<body>


    <!-- Contact Info Grid -->
    <div class="contact-info">
        <div>
            <h3>Phone</h3>
            <p><strong>Phone:</strong> <i class="fa-solid fa-tty"></i> 01-5332714<br><i
                    class="fa-solid fa-phone-volume">
                </i> 9801027342, 9802857085</p>
        </div>
        <div>
            <h3>Address</h3>
            <p><strong>Address:</strong> <i class="fa-solid fa-location-dot"> </i> New Road, Kathmandu, Nepal</p>
        </div>
        <div>
            <h3>Email</h3>
            <p><strong>Email: </strong><i class="fa-solid fa-envelope"></i> babylandjoy@gmail.com</p>
        </div>
    </div>

    <!-- Contact Form -->
    <div class="contact-form">
        <h3>Get in Touch</h3>
        {% if success %}
        <p id="success-message" class="success-message">Thank you for contacting us! We will get back to you shortly.
        </p>
        {% endif %}
        <form method="post" id="contactForm">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>


    <script>
        function toggleMenu() {
            document.querySelector('.nav-links').classList.toggle('active');
        }
        document.addEventListener("DOMContentLoaded", function () {
            const successMessage = document.getElementById("success-message");

            // Hide success message after 3 seconds
            if (successMessage) {
                setTimeout(() => {
                    successMessage.style.display = "none";
                }, 3000);
            }
        });


    </script>
</body>

{% endblock %}