{% extends 'products/base.html' %}
{% load static %}

{% block title %}{{ product.name }} - Babyland Joy{% endblock %}
{% block css %}
<!-- Add specific CSS for the register page -->
<link rel="stylesheet" href="{% static 'css/product_details.css' %}">
{% endblock %}
{% block content %}
<!-- Product Details -->
<div class="product-details">
    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
    <div class="product-info">
        <h1>{{ product.name }}</h1>
        <p><strong>Model No:</strong> {{ product.model_no }}</p>
        <p><strong>Size:</strong> {{ product.size }}</p>
        <p class="product-description">{{ product.description }}</p>
        <a href="{% url 'book_now' product.id %}" class="add-to-cart-btn">Book Now</a>
    </div>
</div>


<script>
    // Toggle Hamburger Menu
    function toggleMenu() {
        const navLinks = document.querySelector('.nav-links');
        navLinks.classList.toggle('active');
    }
</script>
{% endblock %}